@charset "utf-8";
body {
  margin: 2px;
}

.elu{
	height: 50px !important;
	background-color: #FFCC00;
	text-align: right;
	margin-right: 30px;
	width: 100%;
}
.second {
	height: 80px !important;
	background-color: white;
	text-align: right;
	margin-right: 30px;
	width: 100%;
	border: 1px solid #FFCC00;
	border-radius: 5px;
}
.right {
	
	color: black;
	
	font-size: 10px;
	font-family: arial;
	margin-right: 40px;
	font-family: Open Sans, Arvo, Lato;
}
.right a{
	text-decoration: none !important;
	color: black;
}
.right a:hover{
	color: blue;
	font-size: 13px;
	text-decoration: none !important;
}
.secondnav a {
	text-decoration: none !important;
	color: black;
}
.secondnav a:hover {
	color: blue;
	font-size: 22px;
}
.secondnav {
	
	color: black;
	margin-top: 30px;
	font-size: 18px;
	font-family: Cursive, Arial Black;
	margin-right: 40px;
}
.center{
	text-align: center;
	font-size:60px; 
	z-index: 1;
	position: relative;
	bottom: 200px;
	
}
.vid{
	margin: 330px 0px 0px 0px;
	
	top: 100px;
	
}
.navs{
	
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /
	z-index: 2;
}